In [10]:
# Data Loading
import pandas as pd

trainDf = pd.read_csv('train.csv')
testDf = pd.read_csv('test.csv')
    
# Data cleaning
# Drop id, ticket, cabin and name
trainDf = trainDf.drop('PassengerId', axis=1)
trainDf = trainDf.drop('Ticket', axis=1)
trainDf = trainDf.drop('Cabin', axis=1)
trainDf = trainDf.drop('Name', axis=1)

testDf = testDf.drop('PassengerId', axis=1)
testDf = testDf.drop('Ticket', axis=1)
testDf = testDf.drop('Cabin', axis=1)
testDf = testDf.drop('Name', axis=1)

# Drop rows with NAs
testDf = testDf.dropna(axis = 0)
trainDf = trainDf.dropna(axis = 0)

     Pclass                                               Name     Sex   Age  \
0         3                                   Kelly, Mr. James    male  34.5
1         3                   Wilkes, Mrs. James (Ellen Needs)  female  47.0
2         2                          Myles, Mr. Thomas Francis    male  62.0
3         3                                   Wirz, Mr. Albert    male  27.0
4         3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0
5         3                         Svensson, Mr. Johan Cervin    male  14.0
6         3                               Connolly, Miss. Kate  female  30.0
7         2                       Caldwell, Mr. Albert Francis    male  26.0
8         3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female  18.0
9         3                            Davies, Mr. John Samuel    male  21.0
11        1                         Jones, Mr. Charles Cresson    male  46.0
12        1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0
13        2                               Howard, Mr. Benjamin    male  63.0
14        1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0
15        2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)  female  24.0
16        2                                  Keane, Mr. Daniel    male  35.0
17        3                                  Assaf, Mr. Gerios    male  21.0
18        3                       Ilmakangas, Miss. Ida Livija  female  27.0
19        3              Assaf Khalil, Mrs. Mariana (Miriam")"  female  45.0
20        1                             Rothschild, Mr. Martin    male  55.0
21        3                          Olsen, Master. Artur Karl    male   9.0
23        1                    Williams, Mr. Richard Norris II    male  21.0
24        1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0
25        3                            Robins, Mr. Alexander A    male  50.0
26        1                       Ostby, Miss. Helene Ragnhild  female  22.0
27        3                                  Daher, Mr. Shedid    male  22.5
28        1                            Brady, Mr. John Bertram    male  41.0
30        2                       Louch, Mr. Charles Alexander    male  50.0
31        2                      Jefferys, Mr. Clifford Thomas    male  24.0
32        3           Dean, Mrs. Bertram (Eva Georgetta Light)  female  33.0
..      ...                                                ...     ...   ...
381       3                                  Foley, Mr. Joseph    male  26.0
383       3                McNamee, Mrs. Neal (Eileen O'Leary)  female  19.0
385       2                                 Herman, Miss. Kate  female  24.0
386       3                     Aronsson, Mr. Ernst Axel Algot    male  24.0
387       2                                    Ashby, Mr. John    male  57.0
388       3                               Canavan, Mr. Patrick    male  21.0
389       3                        Palsson, Master. Paul Folke    male   6.0
390       1                         Payne, Mr. Vivian Ponsonby    male  23.0
391       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0
392       3                      Abbott, Master. Eugene Joseph    male  13.0
393       2                               Gilbert, Mr. William    male  47.0
394       3                           Kink-Heilmann, Mr. Anton    male  29.0
395       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female  18.0
396       3                               Colbert, Mr. Patrick    male  24.0
397       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0
398       3                     Larsson-Rondberg, Mr. Edvard A    male  22.0
399       3                           Conlon, Mr. Thomas Henry    male  31.0
400       1                            Bonnell, Miss. Caroline  female  30.0
401       2                                    Gale, Mr. Harry    male  38.0
402       1                     Gibson, Miss. Dorothy Winifred  female  22.0
403       1                             Carrau, Mr. Jose Pedro    male  17.0
404       1                       Frauenthal, Mr. Isaac Gerald    male  43.0
405       2       Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0
406       2                          Ware, Mr. William Jeffery    male  23.0
407       1                         Widener, Mr. George Dunton    male  50.0
409       3                          Peacock, Miss. Treasteall  female   3.0
411       1    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0
412       3                     Henriksson, Miss. Jenny Lovisa  female  28.0
414       1                       Oliva y Ocana, Dona. Fermina  female  39.0
415       3                       Saether, Mr. Simon Sivertsen    male  38.5

     SibSp  Parch      Fare Embarked
0        0      0    7.8292        Q
1        1      0    7.0000        S
2        0      0    9.6875        Q
3        0      0    8.6625        S
4        1      1   12.2875        S
5        0      0    9.2250        S
6        0      0    7.6292        Q
7        1      1   29.0000        S
8        0      0    7.2292        C
9        2      0   24.1500        S
11       0      0   26.0000        S
12       1      0   82.2667        S
13       1      0   26.0000        S
14       1      0   61.1750        S
15       1      0   27.7208        C
16       0      0   12.3500        Q
17       0      0    7.2250        C
18       1      0    7.9250        S
19       0      0    7.2250        C
20       1      0   59.4000        C
21       0      1    3.1708        S
23       0      1   61.3792        C
24       1      3  262.3750        C
25       1      0   14.5000        S
26       0      1   61.9792        C
27       0      0    7.2250        C
28       0      0   30.5000        S
30       1      0   26.0000        S
31       2      0   31.5000        S
32       1      2   20.5750        S
..     ...    ...       ...      ...
381      0      0    7.8792        Q
383      1      0   16.1000        S
385      1      2   65.0000        S
386      0      0    7.7750        S
387      0      0   13.0000        S
388      0      0    7.7500        Q
389      3      1   21.0750        S
390      0      0   93.5000        S
391      0      1   39.4000        S
392      0      2   20.2500        S
393      0      0   10.5000        S
394      3      1   22.0250        S
395      1      0   60.0000        S
396      0      0    7.2500        Q
397      1      1   79.2000        C
398      0      0    7.7750        S
399      0      0    7.7333        Q
400      0      0  164.8667        S
401      1      0   21.0000        S
402      0      1   59.4000        C
403      0      0   47.1000        S
404      1      0   27.7208        C
405      0      0   13.8625        C
406      1      0   10.5000        S
407      1      1  211.5000        C
409      1      1   13.7750        S
411      1      0   90.0000        Q
412      0      0    7.7750        S
414      0      0  108.9000        C
415      0      0    7.2500        S

[331 rows x 8 columns]
     Survived  Pclass                                               Name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
6           0       1                            McCarthy, Mr. Timothy J
7           0       3                     Palsson, Master. Gosta Leonard
8           1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9           1       2                Nasser, Mrs. Nicholas (Adele Achem)
10          1       3                    Sandstrom, Miss. Marguerite Rut
11          1       1                           Bonnell, Miss. Elizabeth
12          0       3                     Saundercock, Mr. William Henry
13          0       3                        Andersson, Mr. Anders Johan
14          0       3               Vestrom, Miss. Hulda Amanda Adolfina
15          1       2                   Hewlett, Mrs. (Mary D Kingcome)
16          0       3                               Rice, Master. Eugene
18          0       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
20          0       2                               Fynney, Mr. Joseph J
21          1       2                              Beesley, Mr. Lawrence
22          1       3                        McGowan, Miss. Anna "Annie"
23          1       1                       Sloper, Mr. William Thompson
24          0       3                      Palsson, Miss. Torborg Danira
25          1       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27          0       1                     Fortune, Mr. Charles Alexander
30          0       1                           Uruchurtu, Don. Manuel E
33          0       2                              Wheadon, Mr. Edward H
34          0       1                            Meyer, Mr. Edgar Joseph
35          0       1                     Holverson, Mr. Alexander Oskar
37          0       3                           Cann, Mr. Ernest Charles
38          0       3                 Vander Planke, Miss. Augusta Maria
..        ...     ...                                                ...
856         1       1         Wick, Mrs. George Dennick (Mary Hitchcock)
857         1       1                             Daly, Mr. Peter Denis
858         1       3              Baclini, Mrs. Solomon (Latifa Qurban)
860         0       3                            Hansen, Mr. Claus Peter
861         0       2                        Giles, Mr. Frederick Edward
862         1       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864         0       2                             Gill, Mr. John William
865         1       2                           Bystrom, Mrs. (Karolina)
866         1       2                       Duran y More, Miss. Asuncion
867         0       1               Roebling, Mr. Washington Augustus II
869         1       3                    Johnson, Master. Harold Theodor
870         0       3                                  Balkic, Mr. Cerin
871         1       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872         0       1                           Carlsson, Mr. Frans Olof
873         0       3                        Vander Cruyssen, Mr. Victor
874         1       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875         1       3                   Najib, Miss. Adele Kiamie "Jane"
876         0       3                      Gustafsson, Mr. Alfred Ossian
877         0       3                               Petroff, Mr. Nedelio
879         1       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         1       2       Shelley, Mrs. William (Imanita Parrish Hall)
881         0       3                                 Markun, Mr. Johann
882         0       3                       Dahlberg, Miss. Gerda Ulrika
883         0       2                      Banfield, Mr. Frederick James
884         0       3                             Sutehall, Mr. Henry Jr
885         0       3               Rice, Mrs. William (Margaret Norton)
886         0       2                              Montvila, Rev. Juozas
887         1       1                       Graham, Miss. Margaret Edith
889         1       1                              Behr, Mr. Karl Howell
890         0       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Fare Embarked
0      male  22.0      1      0    7.2500        S
1    female  38.0      1      0   71.2833        C
2    female  26.0      0      0    7.9250        S
3    female  35.0      1      0   53.1000        S
4      male  35.0      0      0    8.0500        S
6      male  54.0      0      0   51.8625        S
7      male   2.0      3      1   21.0750        S
8    female  27.0      0      2   11.1333        S
9    female  14.0      1      0   30.0708        C
10   female   4.0      1      1   16.7000        S
11   female  58.0      0      0   26.5500        S
12     male  20.0      0      0    8.0500        S
13     male  39.0      1      5   31.2750        S
14   female  14.0      0      0    7.8542        S
15   female  55.0      0      0   16.0000        S
16     male   2.0      4      1   29.1250        Q
18   female  31.0      1      0   18.0000        S
20     male  35.0      0      0   26.0000        S
21     male  34.0      0      0   13.0000        S
22   female  15.0      0      0    8.0292        Q
23     male  28.0      0      0   35.5000        S
24   female   8.0      3      1   21.0750        S
25   female  38.0      1      5   31.3875        S
27     male  19.0      3      2  263.0000        S
30     male  40.0      0      0   27.7208        C
33     male  66.0      0      0   10.5000        S
34     male  28.0      1      0   82.1708        C
35     male  42.0      1      0   52.0000        S
37     male  21.0      0      0    8.0500        S
38   female  18.0      2      0   18.0000        S
..      ...   ...    ...    ...       ...      ...
856  female  45.0      1      1  164.8667        S
857    male  51.0      0      0   26.5500        S
858  female  24.0      0      3   19.2583        C
860    male  41.0      2      0   14.1083        S
861    male  21.0      1      0   11.5000        S
862  female  48.0      0      0   25.9292        S
864    male  24.0      0      0   13.0000        S
865  female  42.0      0      0   13.0000        S
866  female  27.0      1      0   13.8583        C
867    male  31.0      0      0   50.4958        S
869    male   4.0      1      1   11.1333        S
870    male  26.0      0      0    7.8958        S
871  female  47.0      1      1   52.5542        S
872    male  33.0      0      0    5.0000        S
873    male  47.0      0      0    9.0000        S
874  female  28.0      1      0   24.0000        C
875  female  15.0      0      0    7.2250        C
876    male  20.0      0      0    9.8458        S
877    male  19.0      0      0    7.8958        S
879  female  56.0      0      1   83.1583        C
880  female  25.0      0      1   26.0000        S
881    male  33.0      0      0    7.8958        S
882  female  22.0      0      0   10.5167        S
883    male  28.0      0      0   10.5000        S
884    male  25.0      0      0    7.0500        S
885  female  39.0      0      5   29.1250        Q
886    male  27.0      0      0   13.0000        S
887  female  19.0      0      0   30.0000        S
889    male  26.0      0      0   30.0000        C
890    male  32.0      0      0    7.7500        Q

[712 rows x 9 columns]

# Introduction

## Report and Problem Introduction

This report documents the analysis and modelling of the Titanic dataset from a Kaggle competition in attempt to predict survival. The titanic dataset stores 11 attributes about the passengers of the ocean linear from the aforementioned survival, age, sex, etc. During this analysis, the dataset will be summarise using exploratory techinques and then modelled with machine learning methods. The methods will be compared using their accuracy and other relevent features and will be used to observe the general traits that effect survival. 

## Dataset and Cleaning

Basic data cleaning was done with the assistance of the Pandas library functions (used for the data frames). Fields with a lot of null values (e.g. cabin) and values that are difficult to model (e.g. names, ids and tickets) are removed, and after that rows with nulls are also removed.

## Graphical Summaries